@model Laboratorio2_QuispeA.Models.ClsSuma
@{
    ViewBag.Title = "CalcularSuma";
}

<h2>Calcular Suma</h2>
<br />
<label>Numero 1 : </label>@Model.num1
<br />
<label>Numero 2 : </label>@Model.num2
<br />
<label>Resultado : </label>@Model.resultado
<br />
<a href="Index">Retornar al formularario</a>



