
@{
    ViewBag.Title = "Index";
}

<h2>Suma de 2 Numeros</h2>
<br />

<div>
    <form name="frmsuma" action="CalcularSuma" method="post">

        <label> Ingrese Numero 1 : </label> <input type="text" name="valor1" /><br />
        <label> Ingrese Numero 2 : </label> <input type="text" name="valor2" /><br />

        <input type="submit" value="Calcular"/>

        @*<label> Resultado : </label><input type="text" name="resultado" />*@

    </form>
</div>

