@model Laboratorio2_QuispeA.Models.ClsOperaciones
@{
    ViewBag.Title = "CalcularOperaciones";
}

<h2>Calcular Operaciones</h2>
<br />
<label>Numero 1 : </label>@Model.num1
<br />
<label>Numero 2 : </label>@Model.num2
<br />
<label>Tipo de operacion : </label>@Model.tipo
<br />
<label>Resultado : </label>@Model.resultado
<br />
<a href="Index">Retornar al formularario</a>

